body {
  background-color: #f8f9fa;
  background-image: url(https://images.unsplash.com/photo-1604187350703-6de3b495f2fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80);
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 3rem;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  border-radius: 0;
}

#output {
  margin-top: 20px;
}
